.app{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.header {
  background-color: #32CBFF;
  color: #DCEAB2;
  padding: 20px;
  margin-top: 0;
}

.site-name {
  text-align: center;
}